@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@400&family=Scada:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://media.istockphoto.com/photos/pink-birthday-cake-with-candles-isolated-on-pastel-pink-background-picture-id1308387703?k=20&m=1308387703&s=612x612&w=0&h=zmUvRFj2v2Lq5kdqUouM2HV-TTFXqySyngkxpMMpYf8=");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin-top: 5rem;
    margin-top: -10rem;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size:  6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;

}

.countdown-el span {
    font-size: 1.5rem;
}